.container{
    display: flex;
    flex-wrap: wrap
}

.card{
    width: 350px;
    border-radius: 10px;
    align-items: center;
    border: 2px solid grey;
    margin: 25px 22px 25px 60px;
    
    
}

.card img{
    border-radius: 30px;
    padding: 15px 20px;
    
}

.title, .price, .description{
    margin: 0px 20px 10px 20px;
    color: grey;
    font-weight: 400;
}
.btn{
    width: 150px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: white;
    font-size: 15px;
    color: grey;
    margin: 0px 10px 10px 184px;
    cursor: pointer;

}

.btn:hover{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    transition: 1ms;
}
.img{
    width: 350px;
    height: 200px;
    align-items: center;

}