.cards{
    /* width: 70%; */
    height: 600px;
    border: 2px solid grey;
    border-radius: 25px;
    margin-top: 25px;
    margin-left: 25px;
    /* flex:  8 auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    overflow: scroll;
}