.card{
    width: 350px;
    border-radius: 10px;
    align-items: center;
    border: 2px solid grey;
    margin: 25px 22px 25px 60px;
    
    
}

.card img{
    border-radius: 30px;
    padding: 15px 20px;
    
}

.title{
    margin: 0px 20px 10px 20px;
    font-size: 15px;
    color: grey;
    font-weight: 400;
}
.btn{
    width: 150px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: white;
    font-size: 15px;
    color: grey;
    margin: 0px 10px 10px 184px;
    cursor: pointer;
    
}