.item {
    border: 2px solid grey;
    border-radius: 10px;
    width: 170px;
    display: block;
    text-decoration: none;
    color: grey;
    margin: 0px 38px 20px 38px;
    padding: 15px 40px 15px 40px;
    text-align: center;
    cursor: pointer;

}

.item .active {
    border: 2px solid grey;
    border-radius: 10px;
    width: 170px;
    display: block;
    text-decoration: none;
    margin: 0px 38px 20px 38px;
    padding: 15px 40px 15px 40px;
    text-align: center;
    cursor: pointer;
    color: rgb(247, 243, 243);
    background-color: rgb(43, 42, 42);

}