.cartTitle{
    margin-top: 20px;
}

.items{
    
    display: flex;
       
}

table{
    border-spacing: 0px;
    
}

th{
    border: 1px dotted black;
    width: 150px;
    background-color: aqua;
}

td{
    border: 1px dotted black;
    width: 150px;  
}

.cartBody{
    text-align: center;
}

.img{
    width: 140px;
}

/* .item{
    border: 1px solid black;
    padding: 10px;
    font-size: 24px;
    width: 300px;
 
}

.message{
    color: blueviolet;
} */